.board {
    width: 320px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 40px;
}

.cell {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.cell:nth-child(n):nth-child(-2n+8),
.cell:nth-child(2n+9):nth-child(-n+16),
.cell:nth-child(n+17):nth-child(-2n+24),
.cell:nth-child(2n+25):nth-child(-n+32),
.cell:nth-child(n+33):nth-child(-2n+40),
.cell:nth-child(2n+41):nth-child(-n+48),
.cell:nth-child(n+49):nth-child(-2n+56),
.cell:nth-child(2n+57):nth-child(-n+64) {
    background-color: rgb(179, 179, 179);
}