:root {
    --board-size: 320px;
    --cell-dark-color: rgb(158, 63, 63);
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.board {
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: calc(var(--board-size) / 8);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--board-size)/10);
}

.cell:nth-child(n):nth-child(-2n+8),
.cell:nth-child(2n+9):nth-child(-n+16),
.cell:nth-child(n+17):nth-child(-2n+24),
.cell:nth-child(2n+25):nth-child(-n+32),
.cell:nth-child(n+33):nth-child(-2n+40),
.cell:nth-child(2n+41):nth-child(-n+48),
.cell:nth-child(n+49):nth-child(-2n+56),
.cell:nth-child(2n+57):nth-child(-n+64) {
    background-color: var(--cell-dark-color)
}